src/pages/_common/footer.pug
footer.footer(role='contentinfo')
  .footer-middle
    .container
      .row
        .col-lg-1.footer-logo-sub
          .logo-footer
            a
              img(src=`${STATIC_URL}img/logo.png` width="120" height="61" alt="Best Security" class='img-fluid')
        .col-lg-3.footer-direccion.col-sm-4
          p Jr. Carlos Baca Flor 709 Of. 302<br>  Santiago de Surco, Lima - Perú.
          a(href='tel:5115123100') (511) 512 - 3100
        .col-lg-2.footer-ctn-sub.col-sm-4
          // Column1
          .footer-pad
             h4 Mapa de sitio
             ul
              li 
                 a(href='nosotros.html') Nosotros
              li 
                 a(href='productos.html') Productos
              li 
                 a(href='soporte.html') Soporte
              li 
                 a(href='promociones.html') Promociones
              li 
                 a(href='distribuidores.html') Distribuidores
        .col-lg-2.footer-cliente.col-sm-4
          // Column1.footer-ctn-sub
          .footer-pad
            h4 Servicio al cliente
            ul
              li 
                 a(href='contacto.html') Contacto
              li 
                 a(href='productos.html') Preguntas Frecuentes
              li 
                 a(href='soporte.html') Políticas comerciales
              .listado-precio-footer
                a(href='distribuidores.html') Listado de Precio
        .col-lg-3.footer-herramientas
          // Column1
          .footer-pad
            h4 Herramientas
            ul
              li 
                 a(href='#') Calculadora de Lente
              li 
                 a(href='#') Calculadora de Disco Duro
              li 
                 a(href='#') Educación para Técnicos
        .col-lg-1.footer-redes.col-sm-3
          ul
            li 
              a(href='#', class='icon-facebook')
            li
              a(href='#', class='icon-youtube')
            li
              a(href='#', class='icon-twitter')
            li
              a(href='#', class='icon-wts')
  .footer-bottom
    .container
      .row
        .col-sm-6
           p © 2017  Best Security. Todos los derechos reservados.
        .col-sm-6.creditos-right
           p Diseño de páginas web: 
            a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital

programing/_common/footer.html

<footer class="footer" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 footer-logo-sub">
          <div class="logo-footer"><a><img class="img-fluid" src="assets/img/logo.png" width="120" height="61" alt="Best Security"/></a></div>
        </div>
        <div class="col-lg-3 footer-direccion">
          <p>Jr. Carlos Baca Flor 709 Of. 302<br>  Santiago de Surco, Lima - Perú.</p><a href="tel:5115123100">(511) 512 - 3100</a>
        </div>
        <div class="col-lg-2 footer-ctn-sub">
          <!-- Column1-->
          <div class="footer-pad">
            <h4>Mapa de sitio</h4>
            <ul>
              <li> <a href="nosotros.html">Nosotros</a></li>
              <li> <a href="productos.html">Productos</a></li>
              <li> <a href="soporte.html">Soporte</a></li>
              <li> <a href="promociones.html">Promociones</a></li>
              <li> <a href="distribuidores.html">Distribuidores</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 footer-ctn-sub">
          <!-- Column1-->
          <div class="footer-pad">
            <h4>Servicio al cliente</h4>
            <ul>
              <li> <a href="contacto.html">Contacto</a></li>
              <li> <a href="productos.html">Preguntas Frecuentes</a></li>
              <li> <a href="soporte.html">Políticas comerciales</a></li>
              <div class="listado-precio-footer"><a href="distribuidores.html">Listado de Precio</a></div>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <!-- Column1-->
          <div class="footer-pad">
            <h4>Herramientas</h4>
            <ul>
              <li> <a href="#">Calculadora de Lente</a></li>
              <li> <a href="#">Calculadora de Disco Duro</a></li>
              <li> <a href="#">Educación para Técnicos</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 footer-redes">
          <ul>
            <li> <a class="icon-facebook" href="#"></a></li>
            <li><a class="icon-youtube" href="#"></a></li>
            <li><a class="icon-twitter" href="#"></a></li>
            <li><a class="icon-wts" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>© 2017  Best Security. Todos los derechos reservados.</p>
        </div>
        <div class="col-lg-6 creditos-right">
          <p>Diseño de páginas web: <a href="https://www.staffdigital.pe/" target="_blank">Staff Digital</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
