programing/capacitaciones.html

    <section>
      <div class="container-fluid capacitaciones_filtros">
        <div class="container">
          <div class="row">
            <div class="content_filtros_capacitaciones">
              <div class="content_cuidad_filtros">
                <div>
                  <p>Cuidad:</p>
                </div>
                <div class="content_select">
                  <select class="form-control">
                    <option>Arequipa</option>
                    <option>Lima</option>
                    <option>Piura</option>
                    <option>Trujillo</option>
                    <option>Tarapoto</option>
                  </select>
                </div>
              </div>
              <div class="content_negocio_filtros">
                <div>
                  <p>Línea de negocio</p>
                </div>
                <div class="content_select">
                  <select class="form-control">
                    <option>CCTV</option>
                    <option>MPR2</option>
                    <option>CCTV</option>
                    <option>MPR2</option>
                    <option>CCTV</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="ctn-calendar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 ctn-calendar-main" id="calendar">
            <div class="clndr-controls">
              <div class="month"><%= month %></div>
              <div class="clndr-previous-button">‹</div>
              <div class="clndr-next-button">›</div>
            </div>
            <div class="clndr-grid">
              <div class="days-of-the-week">
                 <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>	<% }); %>
                <div class="days"><% _.each(days, function (day) { %>
                  <div class="&lt;%= day.classes %&gt;"><%= day.day %></div><% }); %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div id="exampleAccordion" data-children=".item">
              <div class="item">
                <div class="capacitaciones_acordion">
                  <div class="acordion_fecha">
                    <p>Jueves</p><span class="fecha_numero">22</span>
                  </div>
                  <div class="acordion_text">
                    <p>Trujillo - 11:00 a.m a 12 a.m</p>
                    <h5>Taller teórico: Evolución CCTV Hagroy</h5><a class="abrir" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1"><span>Ver más info<span></span></span></a><a class="cerrar" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1"><span>Cerrar info<span></span></span></a>
                    <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                      <div class="mb-3 content_info_acordion">
                        <p>Expositor: <span class="text_expositor">Ing.Daniel Suárez Vilca</span></p>
                        <p>Temario</p>
                        <ul>
                          <li>Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO</li>
                          <li>Sistemas para la transmisión inalámbrica de datos - UBIQUITI</li>
                          <li>Presentación de equipos de Radiocomunicación - HYTERA</li>
                          <li>A prueba de agresiones y detección de golpes</li>
                          <li>Nuevas tendencias con los equipos HD - CVI - HAGROY</li>
                        </ul>
                        <div class="compartelo_en">
                          <p>Compártelo en</p>
                          <div class="content_icons">
                            <div class="icon-facebook"></div>
                            <div class="icon-youtube2"></div>
                            <div class="icon-twitter"></div>
                          </div>
                        </div>
                        <div class="capacitaciones_buttons">
                          <button class="btn btn-enlace btn-red" type="button">Inscríbete Aquí</button>
                          <button class="btn btn-productos" type="button"><span class="text-btn">Ver Ubicación</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="capacitaciones_acordion">
                  <div class="acordion_fecha">
                    <p>Sábado</p><span class="fecha_numero">10</span>
                  </div>
                  <div class="acordion_text">
                    <p>Huancayo - 9:00 a.m a 11 a.m</p>
                    <h5>Capacitaciones Alcom Max</h5><a class="abrir" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="true" aria-controls="exampleAccordion2"><span>Ver más info<span></span></span></a><a class="cerrar" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2"><span>Cerrar info<span></span></span></a>
                    <div class="collapse" id="exampleAccordion2" role="tabpanel">
                      <div class="mb-3 content_info_acordion">
                        <p>Expositor: <span>Ing.Daniel Suárez Vilca</span></p>
                        <p>Temario</p>
                        <ul>
                          <li>Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO</li>
                          <li>Sistemas para la transmisión inalámbrica de datos - UBIQUITI</li>
                          <li>Presentación de equipos de Radiocomunicación - HYTERA</li>
                          <li>A prueba de agresiones y detección de golpes</li>
                          <li>Nuevas tendencias con los equipos HD - CVI - HAGROY</li>
                        </ul>
                        <div class="compartelo_en">
                          <p>Compártelo en</p>
                          <div class="content_icons">
                            <div class="icon-facebook"></div>
                            <div class="icon-youtube2"></div>
                            <div class="icon-twitter"></div>
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-enlace btn-red" type="button">Inscríbete Aquí</button>
                          <button class="btn btn-productos" type="button"><span class="text-btn">Ver Ubicación</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="capacitaciones_acordion">
                  <div class="acordion_fecha">
                    <p>Lunes</p><span class="fecha_numero">26</span>
                  </div>
                  <div class="acordion_text">
                    <p>Lima 5:00 p.m a 6 p.m</p>
                    <h5>Alarmas comunitarias MPR2 y Alcom Voz</h5><a class="abrir" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="true" aria-controls="exampleAccordion3"><span>Ver más info<span></span></span></a><a class="cerrar" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="false" aria-controls="exampleAccordion3"><span>Cerrar info<span></span></span></a>
                    <div class="collapse" id="exampleAccordion3" role="tabpanel">
                      <div class="mb-3 content_info_acordion">
                        <p>Expositor: <span>Ing.Daniel Suárez Vilca</span></p>
                        <p>Temario</p>
                        <ul>
                          <li>Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO</li>
                          <li>Sistemas para la transmisión inalámbrica de datos - UBIQUITI</li>
                          <li>Presentación de equipos de Radiocomunicación - HYTERA</li>
                          <li>A prueba de agresiones y detección de golpes</li>
                          <li>Nuevas tendencias con los equipos HD - CVI - HAGROY</li>
                        </ul>
                        <div class="compartelo_en">
                          <p>Compártelo en</p>
                          <div class="content_icons">
                            <div class="icon-facebook"></div>
                            <div class="icon-youtube2"></div>
                            <div class="icon-twitter"></div>
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-enlace btn-red" type="button">Inscríbete Aquí</button>
                          <button class="btn btn-productos" type="button"><span class="text-btn">Ver Ubicación</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(()=>{
      	moment.locale('es');
      	var currentMonth = moment().format('YYYY-MM');
      	var nextMonth    = moment().add('month', 1).format('YYYY-MM');
      	var currentDay   = moment().add('today',1).format('dddd');
      	var events = [];
      	$('#calendar').clndr({
      		//- template: $('#template-calendar').html(),
      		events: [
      			{ 
      				date: '2017-12-28', 
      				title: 'CLNDR GitHub Page Finished', 
      				url: 'http://github.com/kylestetz/CLNDR' 
      			},
      			{ 
      				date: '2016-12-31', 
      				title: 'CLNDR GitHub Page Finished', 
      				url: 'http://github.com/kylestetz/CLNDR' 
      			},
      			{ 
      				date: '2017-01-09', 
      				title: 'CLNDR GitHub Page Finished', 
      				url: 'http://github.com/kylestetz/CLNDR'
      			}
      		],
      		daysOfTheWeek: [ 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb', 'Dom']
      	});
      })
    </script>

src/pages/capacitaciones.pug
extends ./_common/base.pug

block content
	section
		.container-fluid.capacitaciones_filtros
			.container
				.row
					.content_filtros_capacitaciones
						.content_cuidad_filtros
							div
								p Cuidad:
							.content_select
								select.form-control
									option Arequipa
									option Lima
									option Piura
									option Trujillo
									option Tarapoto
						.content_negocio_filtros
							div
								p Línea de negocio
							.content_select
								select.form-control
									option CCTV
									option MPR2
									option CCTV
									option MPR2
									option CCTV

	.ctn-calendar
		.container-fluid
			.row
				.col-6#calendar.ctn-calendar-main
					.clndr-controls
						.month <%= month %>
						.clndr-previous-button ‹
						.clndr-next-button ›
					.clndr-grid
						.days-of-the-week 
							| <% _.each(daysOfTheWeek, function (day) { %>
							.header-day <%= day %>
							|	<% }); %>
							.days
								| <% _.each(days, function (day) { %>
								div(class="<%= day.classes %>")
									| <%= day.day %>
								| <% }); %>

				.col-xl-6
					#exampleAccordion(data-children='.item')
						.item
							.capacitaciones_acordion
								.acordion_fecha
									p Jueves
									span.fecha_numero 22
								.acordion_text
									p Trujillo - 11:00 a.m a 12 a.m
									h5 Taller teórico: Evolución CCTV Hagroy
									a.abrir(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion1', aria-expanded='true', aria-controls='exampleAccordion1')
										span
											| Ver más info
											span
									a.cerrar(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion1', aria-expanded='false', aria-controls='exampleAccordion1')
										span
											| Cerrar info
											span
									#exampleAccordion1.collapse.show(role='tabpanel')
										.mb-3.content_info_acordion
											p
												| Expositor: 
												span.text_expositor Ing.Daniel Suárez Vilca
											p Temario
											ul
												li Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO
												li Sistemas para la transmisión inalámbrica de datos - UBIQUITI
												li Presentación de equipos de Radiocomunicación - HYTERA
												li A prueba de agresiones y detección de golpes
												li Nuevas tendencias con los equipos HD - CVI - HAGROY
											.compartelo_en
												p Compártelo en
												.content_icons
													.icon-facebook
													.icon-youtube2
													.icon-twitter
											.capacitaciones_buttons
												button.btn.btn-enlace.btn-red(type='button') Inscríbete Aquí
												button.btn.btn-productos(type='button')
													span.text-btn Ver Ubicación
						.item
							.capacitaciones_acordion
								.acordion_fecha
									p Sábado
									span.fecha_numero 10
								.acordion_text
									p Huancayo - 9:00 a.m a 11 a.m
									h5 Capacitaciones Alcom Max
									a.abrir(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion2', aria-expanded='true', aria-controls='exampleAccordion2')
										span
											| Ver más info
											span
									a.cerrar(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion2', aria-expanded='false', aria-controls='exampleAccordion2')
										span
											| Cerrar info
											span
									#exampleAccordion2.collapse(role='tabpanel')
										.mb-3.content_info_acordion
											p
												| Expositor: 
												span Ing.Daniel Suárez Vilca
											p Temario
											ul
												li Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO
												li Sistemas para la transmisión inalámbrica de datos - UBIQUITI
												li Presentación de equipos de Radiocomunicación - HYTERA
												li A prueba de agresiones y detección de golpes
												li Nuevas tendencias con los equipos HD - CVI - HAGROY
											.compartelo_en
												p Compártelo en
												.content_icons
													.icon-facebook
													.icon-youtube2
													.icon-twitter
											div
												button.btn.btn-enlace.btn-red(type='button') Inscríbete Aquí
												button.btn.btn-productos(type='button')
													span.text-btn Ver Ubicación
						.item
							.capacitaciones_acordion
								.acordion_fecha
									p Lunes
									span.fecha_numero 26
								.acordion_text
									p Lima 5:00 p.m a 6 p.m
									h5 Alarmas comunitarias MPR2 y Alcom Voz
									a.abrir(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion3', aria-expanded='true', aria-controls='exampleAccordion3')
										span
											| Ver más info
											span
									a.cerrar(data-toggle='collapse', data-parent='#exampleAccordion', href='#exampleAccordion3', aria-expanded='false', aria-controls='exampleAccordion3')
										span
											| Cerrar info
											span
									#exampleAccordion3.collapse(role='tabpanel')
										.mb-3.content_info_acordion
											p
												| Expositor: 
												span Ing.Daniel Suárez Vilca
											p Temario
											ul
												li Portafolio con la soluciones en Control de Acceso y Asistencia -ZZK-TECO
												li Sistemas para la transmisión inalámbrica de datos - UBIQUITI
												li Presentación de equipos de Radiocomunicación - HYTERA
												li A prueba de agresiones y detección de golpes
												li Nuevas tendencias con los equipos HD - CVI - HAGROY
											.compartelo_en
												p Compártelo en
												.content_icons
													.icon-facebook
													.icon-youtube2
													.icon-twitter
											div
												button.btn.btn-enlace.btn-red(type='button') Inscríbete Aquí
												button.btn.btn-productos(type='button')
													span.text-btn Ver Ubicación

append scripts 
	script.
		$(()=>{
			moment.locale('es');
			var currentMonth = moment().format('YYYY-MM');
			var nextMonth    = moment().add('month', 1).format('YYYY-MM');
			var currentDay   = moment().add('today',1).format('dddd');
			var events = [];
			$('#calendar').clndr({
				//- template: $('#template-calendar').html(),
				events: [
					{ 
						date: '2017-12-28', 
						title: 'CLNDR GitHub Page Finished', 
						url: 'http://github.com/kylestetz/CLNDR' 
					},
					{ 
						date: '2016-12-31', 
						title: 'CLNDR GitHub Page Finished', 
						url: 'http://github.com/kylestetz/CLNDR' 
					},
					{ 
						date: '2017-01-09', 
						title: 'CLNDR GitHub Page Finished', 
						url: 'http://github.com/kylestetz/CLNDR'
					}
				],
				daysOfTheWeek: [ 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb', 'Dom']
			});
		})
