src/pages/home.pug
extends ./_common/base.pug

block content
	.home
		.home-slider
			.home-slider-flechas-wrap
			ul.slider-home
				- for (var x = 0; x < 4; x++)
					li.home-item(style=`background-image: url('${STATIC_URL}img/bg-banner-home.jpg');`)
						.prin-slider
							.homeslider-cnt
								.container-fluid
									.row
										.col-12.col-md-6.col-lg-6
											h3 EL MEJOR PANEL DE ALARMAS
											p Vigila el hogar desde tu smarthphone
											.btn-home-cnt
												a.btn.btn-enlace.btn-red( href='producto-detalle.html') Míralo Aquí
										.col-12.col-md-6.col-lg-6.img-slider
											img(src=`${STATIC_URL}img/img-slider.png` width="658" height="447" alt="Best Security" class='img-fluid')
											.circle-red-percent 30%
		.slide-productos
			.slide-productos-cnt
				.container-fluid
					ul.slider-productos
						- for (var x = 0; x < 10; x++)
							li
								img(src=`${STATIC_URL}img/img-slider-2.png` width="205" height="35" alt="Best Security" class='img-fluid')
		.category-home
			.container-fluid
				h3 Nuestras categorías
				.category-home-prin
					.row
						.col-12.col-md-4.col-lg-3
							.item-prin-ctn
								- for (var x = 0; x < 2; x++)
									.item-category 
										.item-category-bg(style=`background-image: url('${STATIC_URL}img/category-1.jpg');`) 
										.ctn-item-sub
											.item-icono
												img(src=`${STATIC_URL}img/icono-item.png`  alt="Best Security" class='img-fluid')
											h4 Cercos
											a.btn.btn-enlace.btn-red( href='nuestras_categorias.html') VER CATÁLOGO
						.col-12.col-md-4.col-lg-6
							.item-category.dos
								.item-category-bg(style=`background-image: url('${STATIC_URL}img/category-2.jpg');`) 
								.ctn-item-sub
									.item-icono
										img(src=`${STATIC_URL}img/icono-item.png`  alt="Best Security" class='img-fluid')
									h4 Cercos
									a.btn.btn-enlace.btn-red( href='nuestras_categorias.html') VER CATÁLOGO
						.col-12.col-md-4.col-lg-3
							.item-prin-ctn
								- for (var x = 0; x < 2; x++)
									.item-category 
										.item-category-bg(style=`background-image: url('${STATIC_URL}img/category-1.jpg');`) 
										.ctn-item-sub
											.item-icono
												img(src=`${STATIC_URL}img/icono-item.png`  alt="Best Security" class='img-fluid')
											h4 Cercos
											a.btn.btn-enlace.btn-red( href='nuestras_categorias.html') VER CATÁLOGO
				.enlace-item-category
					a.btn.btn-productos( href='nuestras_categorias.html') 
						span.text-btn Ver todas las categorías
		
		.slider-products
			.slider-products-wrap
				h3 Productos Destacados
				.slider-product-cnt
					ul.slider-product-pitcher
						- for (var x = 0; x < 12; x++)
							li
								article.item
									span.circle 10%
									figure.img
										img(src=`${STATIC_URL}img/img-proportion.jpg`, width="150", height="150", alt="foto-1", title="product-1")
									span.code SKU 12321435
									h2.title Estación Base Power Beam M5 AirMAX
									.btn-abs
										a.btn.btn-productos( href='producto-detalle.html')
											span.text-btn Ver Producto

		.banner-home(style=`background-image: url('${STATIC_URL}img/banner-home.jpg');`)
			.container
				h3 Revisa nuestra lista de distribuidores autorizados
				a.btn.btn-enlace.btn-red( href='distribuidores.html') Ver Lista
		
		.productos-home-ctn.container-fluid
			.row
				- for (var x = 0; x < 3; x++)
					.col-12.col-md-4.col-lg-4.item-producto-home
						img(src=`${STATIC_URL}img/item-producto.png`  alt="Best Security" class='img-fluid')
						h3 Calculadora de Lente 
						h4 Herramienta
						a.btn.btn-enlace.btn-gray( href='') Pruébalo
		.slider-clients-home(style=`background-image: url('${STATIC_URL}img/bg-home.jpg');`)
			.container-fluid.slider-clients-cnt
				h3 Más de 23 Clientes Satisfechos
				ul.slider-clients
					- for (var x = 0; x < 3; x++)
						li.slider-client-home-item
							.item-client-home-ctn
								p “Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”
								.item-client-home
									img(src=`${STATIC_URL}img/img-client.jpg`  alt="Best Security" class='img-fluid')
									h4 TEDY CRAN 
									h5 Jefe de Sistemas Pacifico
		.ctn-home-redes
			.container-fluid
				.home-redes-cnt
					.row
						.col-12.col-lg-4.item-redes-home.info
							.item-redes-home-info-prin
								h4 ¡Visítanos en nuestras redes!
								p Estamos conectados para estar cada vez más cerca de ti.
						.col-12.col-lg-4.item.redes-home.youtube
							.item-home-redes-title.youtube
								p Suscribete en Youtube
							.item-home-redes-main.info-main
								.item-home-redes-fig(style=`background-image: url('${STATIC_URL}img/img-redes-home.jpg');`)
									.item-home-redes-info
										h4 Líderes en seguridad electrónica
						.col-12.col-lg-4.item.redes-home.face
							.item-home-redes-title.face
								p Unete a facebook
							.item-home-redes-main.info-main
								.item-home-redes-fig(style=`background-image: url('${STATIC_URL}img/img-redes-home.jpg');`)
									ul.item-home-redes-count
										li.item-likes 335
										li.item-coments 335
										li.item-share 335
										








						

	

programing/home.html

    <div class="home">
      <div class="home-slider">
        <ul class="slider-home">
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="home-item" style="background-image: url('assets/img/bg-banner-home.jpg');">
            <div class="prin-slider">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h3>EL MEJOR PANEL DE ALARMAS</h3>
                    <p>Vigila el hogar desde tu smarthphone</p><a class="btn btn-enlace btn-red" href="">Míralo Aquí</a>
                  </div>
                  <div class="col-6 img-slider"><img class="img-fluid" src="assets/img/img-slider.png" width="658" height="447" alt="Best Security"/>
                    <div class="circle-red-percent">30%</div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="slide-productos">
        <div class="container">
          <ul class="slider-productos">
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
            <li><img class="img-fluid" src="assets/img/img-slider-2.png" width="205" height="35" alt="Best Security"/></li>
          </ul>
        </div>
      </div>
      <div class="category-home">
        <div class="container">
          <h3>Nuestras categorías</h3>
          <div class="category-home-prin">
            <div class="row">
              <div class="col-3">
                <div class="item-prin-ctn">
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6"> 
                <div class="item-category dos">
                  <div class="item-category-bg" style="background-image: url('assets/img/category-2.jpg');"> </div>
                  <div class="ctn-item-sub">
                    <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                    <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                  </div>
                </div>
              </div>
              <div class="col-3"> 
                <div class="item-prin-ctn">
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                  <div class="item-category"> 
                    <div class="item-category-bg" style="background-image: url('assets/img/category-1.jpg');"> </div>
                    <div class="ctn-item-sub">
                      <div class="item-icono"><img class="img-fluid" src="assets/img/icono-item.png" alt="Best Security"/></div>
                      <h4>Cercos</h4><a class="btn btn-enlace btn-red" href="">VER CATÁLOGO</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="enlace-item-category"><a class="btn btn-productos" href=""> <span class="text-btn">Ver todas las categorías</span></a></div>
        </div>
      </div>
      <div class="banner-home" style="background-image: url('assets/img/banner-home.jpg');">
        <div class="container">
          <h3>Revisa nuestra lista de distribuidores autorizados</h3><a class="btn btn-enlace btn-red" href="">Ver Lista</a>
        </div>
      </div>
      <div class="productos-home-ctn container-fluid">
        <div class="row">
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
          <div class="col-4 item-producto-home"><img class="img-fluid" src="assets/img/item-producto.png" alt="Best Security"/>
            <h3>Calculadora de Lente </h3>
            <h4>Herramienta</h4><a class="btn btn-enlace btn-gray" href="">Pruébalo</a>
          </div>
        </div>
      </div>
      <div class="slider-clients-home" style="background-image: url('assets/img/bg-home.jpg');">
        <div class="container">
          <ul class="slider-clients">
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
            <li class="slider-client-home-item">
              <div class="item-client-home-ctn">
                <h3>Más de 23 Clientes Satisfechos</h3>
                <p>“Etiam ac ornare lorem cras cursus felis nec magna placerat et molestie nisi congue aliquam diam est ultrices id imperdiet at suscipit vel diam maecenas eleifend urna laoreet varius.”</p>
                <div class="item-client-home"><img class="img-fluid" src="assets/img/img-client.jpg" alt="Best Security"/>
                  <h4>TEDY CRAN </h4>
                  <h5>Jefe de Sistemas Pacifico</h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="ctn-home-redes">
        <div class="container">
          <div class="row">
            <div class="col-4 item-redes-home info">
              <div class="item-redes-home-info-prin">
                <h4>¡Visítanos en nuestras redes!</h4>
                <p>Estamos conectados para estar cada vez más cerca de ti.</p>
              </div>
            </div>
            <div class="col-4 item redes-home youtube">
              <div class="item-home-redes-title youtube">
                <p>Suscribete en Youtube</p>
              </div>
              <div class="item-home-redes-main info-main">
                <div class="item-home-redes-fig" style="background-image: url('assets/img/img-redes-home.jpg');">
                  <div class="item-home-redes-info">
                    <h4>Líderes en seguridad electrónica</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 item redes-home face">
              <div class="item-home-redes-title face">
                <p>Unete a facebook</p>
              </div>
              <div class="item-home-redes-main info-main">
                <div class="item-home-redes-fig" style="background-image: url('assets/img/img-redes-home.jpg');">
                  <ul class="item-home-redes-count">
                    <li class="item-likes">335</li>
                    <li class="item-coments">335</li>
                    <li class="item-share">335</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
