programing/listado-precios.html

    <section class="Price_list">
      <div class="mainlist">
        <div class="envolvermain">
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
          <div class="list-itm">
            <div class="list-envolver">
              <figure><img src="assets/img/img_1.png" width="80" height="80" alt="listado precios"/></figure>
              <h3>Incendio</h3><a href="" download="download"> <span>DESCARGAR </span><span> <img src="assets/img/download.svg" width="12" height="12" alt=""/></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>

src/pages/listado-precios.pug
extends ./_common/base.pug
block content
	include _common/banner_interna.pug
	section.Price_list
		.mainlist
			.envolvermain
				- for (var x = 0; x < 9; x++)
					.list-itm
						.list-envolver
							figure
								img(src=`${STATIC_URL}img/img_1.png`, width="80", height="80", alt="listado precios")
							h3 Incendio
							a(href="" download) 
								span DESCARGAR 
								span 
									img(src=`${STATIC_URL}img/download.svg`, width="12", height="12", alt="")
							
