programing/productos.html

    <div class="products">
      <main class="main">
        <div class="content">
          <div class="boxleft">
            <div class="filter-head-resp"><span class="filter-title-resp">FILTRAR</span><span class="filter-close icon-mas"></span></div>
            <div class="list">
              <ul>
                <li class="list-item active"><a class="list-title list-click" href="">CATEGORÍAS</a>
                  <ul class="content-links list-textarea">
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-1.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-1.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-2.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-2.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-3.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-3.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-4.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-4.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-5.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-5.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-6.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-6.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-7.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-7.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-8.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-8.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                    <li class="link-item"><a class="link" href="">
                        <figure class="icono-link"><img class="icono-link-normal" src="assets/img/products-img-normal-9.png" width="30" height="30" alt="link-1" title="link-1-normal"/><img class="icono-link-hover" src="assets/img/products-img-hover-9.png" width="30" height="30" alt="link-1" title="link-1-hover"/></figure><span class="text-link">Control de acceso y asistencia</span></a></li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
                <li class="list-item"><a class="list-title list-click" href="">TECNOLOGÍA</a>
                  <ul class="content-fields list-textarea">
                    <li class="field-item">
                      <input type="checkbox" id="field-1"/>
                      <label class="field-text" for="field-1">Análogo 1</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-2"/>
                      <label class="field-text" for="field-2">Análogo 2</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-3"/>
                      <label class="field-text" for="field-3">Análogo 3</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-4"/>
                      <label class="field-text" for="field-4">Análogo 4</label>
                    </li>
                    <li class="field-item">
                      <input type="checkbox" id="field-5"/>
                      <label class="field-text" for="field-5">Análogo 5</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="boxright">
            <div class="filter">
              <div class="filter-content">
                <div class="filter-item filter-box1"><span class="filter-text">Ordenar por</span>
                  <div class="filter-select">
                    <select name="">
                      <option value="0">promociones-1</option>
                      <option value="1">promociones-2</option>
                      <option value="2">promociones-3</option>
                    </select>
                  </div>
                </div>
                <div class="filter-item filter-box2"><span class="filter-text">Mostrar</span>
                  <div class="filter-select">
                    <select name="">
                      <option value="0">12</option>
                      <option value="1">24</option>
                      <option value="2">36</option>
                    </select>
                  </div>
                </div><span class="filter-btn-resp icon-filtro"></span>
              </div>
            </div>
            <section class="items">
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
              <article class="item"><span class="circle">10%</span>
                <figure class="img"><img src="assets/img/img-proportion.jpg" width="150" height="150" alt="foto-1" title="product-1"/></figure><span class="code">SKU 12321435</span>
                <h2 class="title">Estación Base Power Beam M5 AirMAX</h2>
                <div class="btn-abs"><a class="btn btn-productos" href=""><span class="text-btn">Ver Producto</span></a></div>
              </article>
            </section>
            <section class="pager">
              <ul>
                <li><a class="prev icon-flechaizquierda" href=""></a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a class="next icon-flecha-derecha" href=""></a></li>
              </ul>
            </section>
          </div>
        </div>
      </main>
    </div>

src/pages/productos.pug
extends ./_common/base.pug

block content

	- var page = ['products']	
	div(class=page)
		include _common/banner_interna.pug
		main.main
			.content
				.boxleft
					.filter-head-resp
						span.filter-title-resp FILTRAR
						span.filter-close.icon-mas
					.list
						ul
							li.list-item.active
								a(href="").list-title.list-click CATEGORÍAS
								ul.content-links.list-textarea
									- for (var x = 0; x < 9; x++)
										li.link-item
											a(href="").link
												figure.icono-link
													img.icono-link-normal(src=`${STATIC_URL}img/products-img-normal-${x+1}.png`, width="30", height="30", alt="link-1", title="link-1-normal")
													img.icono-link-hover(src=`${STATIC_URL}img/products-img-hover-${x+1}.png`, width="30", height="30", alt="link-1", title="link-1-hover")
												span.text-link Control de acceso y asistencia
							- for (var x = 0; x < 7; x++)
								li.list-item
									a(href="").list-title.list-click TECNOLOGÍA
									ul.content-fields.list-textarea
										- for (var i = 1; i <= 5; i++)
											li.field-item
												input(type="checkbox", id="field-" + i)
												label(for="field-" + i).field-text Análogo #{+i}
				.boxright
					.filter
						.filter-content
							.filter-item.filter-box1
								span.filter-text Ordenar por
								.filter-select
									select(name="")
										option(value=0) promociones-1
										option(value=1) promociones-2
										option(value=2) promociones-3
							.filter-item.filter-box2
								span.filter-text Mostrar
								.filter-select
									select(name="")
										option(value=0) 12
										option(value=1) 24
										option(value=2) 36
							span.filter-btn-resp.icon-filtro
					section.items
						- for (var x = 0; x < 12; x++)
							article.item
								span.circle 10%
								figure.img
									img(src=`${STATIC_URL}img/img-proportion.jpg`, width="150", height="150", alt="foto-1", title="product-1")
								span.code SKU 12321435
								h2.title Estación Base Power Beam M5 AirMAX
								.btn-abs
									a.btn.btn-productos( href='')
										span.text-btn Ver Producto
					section.pager
						ul
							li
								a(href='').prev.icon-flechaizquierda
							- for (var x = 0; x < 5; x++)
								li
									a(href='') #{x+1}
							li
								a(href='').next.icon-flecha-derecha
	//- fancy
	a(href="").fancy__product__open ABRIR FANCY
	.fancy__product
		span.fancy__prouct__overlay
		section.fancy__product__block
			article.fancy__product__content
				.fancy__product__close.icon-mas
				.fancy__product__title
					h2 ¡Cotizalo instantaneamente!
					p Escribenos y recibirás tu cotización a la brevedad.
				.fancy__product__form
					form(action="")
						ul
							li
								.fancy__product__countryside
									input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos")
								.fancy__product__countryside
									input(type="text", name="telefono", placeholder="Teléfono")
							li
								.fancy__product__countryside
									input(type="text", name="", placeholder="Email")
								.fancy__product__countryside
									input(type="text", name="empresa", placeholder="Empresa")
							li
								.fancy__product__countryside.fancy__product__countryside__textarea
									textarea(name="mensaje", placeholder="Mensaje")
						.fancy__product__button
							button.btn.btn-productos
								span.text-btn COTIZAR PRODUCTO
